<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace一般指定为当前文件的所在包路径+文件名（将来是接口名）
	在程序中通过[ namespace + id ]定位到执行哪一条SQL语句
 -->
<mapper namespace="com.yangjiayu.mapper.AddressMapper">

    <!--添加收货地址-->
    <!--Integer insert(Address address)-->
    <insert id="insert">
        INSERT
        t_address
        VALUSE(
        NULL,#{uid},#{name},
        #{provinceName},#{provinceCode},
        #{cityName},#{cityCode},
        #{areaName},#{areaCode},
        #{phone},#{tel},
        #{tag},#{isDefault},
        #{createdUser},#{createdTime},
        #{modifiedUser},#{modifiedTime}
        )
    </insert>

    <insert id="index" parameterType="java.util.List">
        insert into index_name(id,name) values
        <foreach collection="list" index="index" item="item"  separator=",">
        (#{item.id},#{item.name})
        </foreach>

    </insert>

</mapper>
